<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Fablix</display-name>
 
 
  <security-constraint>
   <web-resource-collection>
    <web-resource-name>HTTPSOnly</web-resource-name>
    <url-pattern>/*</url-pattern>
   </web-resource-collection>
   <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
   </user-data-constraint>
 </security-constraint> 
 
  
   <servlet>
       <servlet-name>movieServlet</servlet-name>
       <servlet-class>servlet.TomcatTest</servlet-class>
   </servlet>
 
   
   
   <servlet-mapping>
       <servlet-name>movieServlet</servlet-name>
       <url-pattern>/hello</url-pattern>
   </servlet-mapping>
   
    <servlet>
       <servlet-name>loginServlet</servlet-name>
       <servlet-class>servlet.login</servlet-class>
   </servlet>
 
   
   
   <servlet-mapping>
       <servlet-name>loginServlet</servlet-name>
       <url-pattern>/form</url-pattern>
   </servlet-mapping>  
   
   
    

   <servlet>
    <servlet-name>loginerror</servlet-name>
    <jsp-file>/error.html</jsp-file>
   </servlet>
   <servlet-mapping>
    <servlet-name>loginerror</servlet-name>
    <url-pattern>/loginerror</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>Main</servlet-name>
       <jsp-file>/index.html</jsp-file> 
   </servlet>
   
   <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>Search</servlet-name>
       <servlet-class>servlet.search</servlet-class> 
   </servlet>
   
   <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
       <servlet-name>SingleMovie</servlet-name>
       <servlet-class>servlet.movie_page</servlet-class> 
   </servlet>
    <servlet-mapping>
    <servlet-name>SingleMovie</servlet-name>
    <url-pattern>/SingleMovie</url-pattern>
   </servlet-mapping>   
   
   
   <servlet>
       <servlet-name>Browse</servlet-name>
       <servlet-class>servlet.browse</servlet-class> 
   </servlet>
    <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/browse</url-pattern>
   </servlet-mapping>  
   
   
  
   <servlet>
       <servlet-name>SingleStar</servlet-name>
       <servlet-class>servlet.star_page</servlet-class> 
   </servlet>
    <servlet-mapping>
    <servlet-name>SingleStar</servlet-name>
    <url-pattern>/SingleStar</url-pattern>
   </servlet-mapping>   
   
    
  <servlet>
       <servlet-name>browse_genre</servlet-name>
       <servlet-class>servlet.browse_reuslt</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>browse_genre</servlet-name>
    <url-pattern>/browse_genre</url-pattern>
  </servlet-mapping>   
  
  
   <servlet>
       <servlet-name>browse_title</servlet-name>
       <servlet-class>servlet.browse_title_reuslt</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>browse_title</servlet-name>
    <url-pattern>/btr</url-pattern>
  </servlet-mapping>   
  
  
  <servlet>
       <servlet-name>add_to_cart</servlet-name>
       <servlet-class>servlet.add_to_cart</servlet-class> 
   </servlet>
  <servlet-mapping>
    <servlet-name>add_to_cart</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>    
  
 <servlet>
       <servlet-name>Deal_cart</servlet-name>
       <servlet-class>servlet.Deal_cart</servlet-class> 
   </servlet>
 <servlet-mapping>
    <servlet-name>Deal_cart</servlet-name>
    <url-pattern>/Deal_cart</url-pattern>
  </servlet-mapping>  
  
  
  
  
  
  
  <servlet>
       <servlet-name>check_out</servlet-name>
       <jsp-file>/shopping_cart.jsp</jsp-file>
  </servlet>
<servlet-mapping>
    <servlet-name>check_out</servlet-name>
    <url-pattern>/buy</url-pattern>
</servlet-mapping>    


<servlet>
       <servlet-name>check_out_continue</servlet-name>
       <jsp-file>/check_out.html</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>check_out_continue</servlet-name>
    <url-pattern>/check_out</url-pattern>
</servlet-mapping>  


  
  <servlet>
       <servlet-name>check_out_auth</servlet-name>
       <servlet-class>servlet.checkout_auth</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>check_out_auth</servlet-name>
    <url-pattern>/checkout_auth</url-pattern>
  </servlet-mapping>    
  
  
  <servlet>
       <servlet-name>auth_success</servlet-name>
       <jsp-file>/auth_success.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth_success</servlet-name>
    <url-pattern>/auth_success</url-pattern>
  </servlet-mapping>    
  
  
  <servlet>
       <servlet-name>auth_error</servlet-name>
       <jsp-file>/check_error.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth_error</servlet-name>
    <url-pattern>/auth_error</url-pattern>
  </servlet-mapping>    
  
  
  <servlet>
       <servlet-name>dashboard</servlet-name>
       <jsp-file>/dashboard_login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/_dashboard</url-pattern>
  </servlet-mapping>    
  
  <servlet>
       <servlet-name>dashboard_verify</servlet-name>
       <servlet-class>servlet.dashboard_verify</servlet-class> 
   </servlet>
 <servlet-mapping>
    <servlet-name>dashboard_verify</servlet-name>
    <url-pattern>/dashboard_verify</url-pattern>
 </servlet-mapping>  
  
  
  
  
 <servlet>
       <servlet-name>dashboard_insert_star</servlet-name>
       <servlet-class>servlet.dashboard_insert_star</servlet-class> 
   </servlet>
 <servlet-mapping>
    <servlet-name>dashboard_insert_star</servlet-name>
    <url-pattern>/dashboard_insert_star</url-pattern>
 </servlet-mapping>  
  
  
  
  
    <servlet>
       <servlet-name>dashboard_insert_movie</servlet-name>
       <servlet-class>servlet.dashboard_insert_movie</servlet-class> 
   </servlet>
 <servlet-mapping>
    <servlet-name>dashboard_insert_movie</servlet-name>
    <url-pattern>/dashboard_insert_movie</url-pattern>
 </servlet-mapping>  
  
  
  <servlet>
       <servlet-name>explanation</servlet-name>
       <jsp-file>/like-predicate.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>explanation</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>    
  
  
  
  
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  
</web-app>